body {
    background-color: #901090;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.main {
    padding: 40px;
    width: 250px;
    background-color: #00bfff;
    border: 2px solid #8fffce;
}

h1 {
    margin-left: 25%;
    margin-right: 25%;
}

p {
    padding: 5%;
    border: 1px solid #8fffce;
    border-radius: 3px;
}
